In [1]:
import yfinance
import pandas as pd
import json

In [2]:
ticker_name = yfinance.Ticker('CBA.AX')
ticker_name.info

{'address1': 'Commonwealth Bank Place South',
 'address2': 'Level 1 11 Harbour Street',
 'city': 'Sydney',
 'state': 'NSW',
 'zip': '2000',
 'country': 'Australia',
 'phone': '61 2 9378 2000',
 'fax': '61 2 9118 7192',
 'website': 'https://www.commbank.com.au',
 'industry': 'Banks - Diversified',
 'industryKey': 'banks-diversified',
 'industryDisp': 'Banks - Diversified',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Commonwealth Bank of Australia provides financial services in Australia, New Zealand, and internationally. It operates through Retail Banking Services, Business Banking, Institutional Banking and Markets, and New Zealand segments. The company offers transaction, savings, and foreign currency accounts; term deposits; personal and business loans; overdrafts; equipment finance; credit cards; international payment and trade; and private banking services, as well as home and car loans. It also provides retail, premium, business, offshore, and institutional banking services; and funds management, superannuation, and share broking products and services, as well as car, health, life, income protection, and travel insurance. In addition, the company offers advisory services for high-net-worth individuals; equities trading and margin lending services; debt capital, transaction banking, working capital, and risk management services; and international and foreign exchange services. Commonwealth Bank of Australia was founded in 1911 and is based in Sydney, Australia.',
 'fullTimeEmployees': 48930,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Matthew  Comyn EMBA',
   'age': 47,
   'title': 'CEO, MD & Executive Director',
   'yearBorn': 1976,
   'fiscalYear': 2023,
   'totalPay': 3754249,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alan  Docherty',
   'title': 'Group Executive of Financial Services & CFO',
   'fiscalYear': 2023,
   'totalPay': 1688139,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Gavin  Munroe',
   'title': 'Group Executive of Technology & Group Chief Information Officer',
   'fiscalYear': 2023,
   'totalPay': 1726406,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Sian  Lewis',
   'title': 'Group Executive of Human Resources',
   'fiscalYear': 2023,
   'totalPay': 1378852,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nigel  Williams',
   'title': 'Group Chief Risk Officer',
   'fiscalYear': 2023,
   'totalPay': 2032678,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Vittoria Annabel June Shortt BMS, CA',
   'title': 'Chief Executive & MD of ASB Bank Ltd.',
   'fiscalYear': 2023,
   'totalPay': 1564933,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Sinead  Taylor',
   'title': 'Chief Operations Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rodrigo  Castillo',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Melanie  Kirk',
   'title': 'Head of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Karen  O'Flynn",
   'title': 'Group General Counsel, Company Secretary and Group Executive of Legal & Group Secretariat',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 10,
 'boardRisk': 1,
 'compensationRisk': 1,
 'shareHolderRightsRisk': 1,
 'overallRisk': 3,
 'governanceEpochDate': 1709251200,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 120.34,
 'open': 119.4,
 'dayLow': 119.3,
 'dayHigh': 120.6,
 'regularMarketPreviousClose': 120.34,
 'regularMarketOpen': 119.4,
 'regularMarketDayLow': 119.3,
 'regularMarketDayHigh': 120.6,
 'dividendRate': 4.3,
 'dividendYield': 0.0357,
 'exDividendDate': 1708473600,
 'payoutRatio': 0.78180003,
 'fiveYearAvgDividendYield': 4.29,
 'beta': 0.904,
 'trailingPE': 20.881739,
 'forwardPE': 21.479427,
 'volume': 2248296,
 'regularMarketVolume': 2248296,
 'averageVolume': 2132025,
 'averageVolume10days': 2362538,
 'averageDailyVolume10Day': 2362538,
 'bid': 119.76,
 'ask': 120.1,
 'bidSize': 36400,
 'askSize': 7100,
 'marketCap': 200903524352,
 'fiftyTwoWeekLow': 94.37,
 'fiftyTwoWeekHigh': 121.54,
 'priceToSalesTrailing12Months': 7.689204,
 'fiftyDayAverage': 116.5642,
 'twoHundredDayAverage': 106.72425,
 'trailingAnnualDividendRate': 4.55,
 'trailingAnnualDividendYield': 0.037809543,
 'currency': 'AUD',
 'enterpriseValue': 380408397824,
 'profitMargins': 0.37037,
 'floatShares': 1667381208,
 'sharesOutstanding': 1673219968,
 'heldPercentInsiders': 0.00427,
 'heldPercentInstitutions': 0.27857,
 'impliedSharesOutstanding': 1673219968,
 'bookValue': 43.529,
 'priceToBook': 2.758391,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': -0.08,
 'netIncomeToCommon': 9781999616,
 'trailingEps': 5.75,
 'forwardEps': 5.59,
 'pegRatio': 9.34,
 'lastSplitFactor': '1:1',
 'lastSplitDate': 939168000,
 'enterpriseToRevenue': 14.559,
 '52WeekChange': 0.21307337,
 'SandP52WeekChange': 0.27878118,
 'lastDividendValue': 2.15,
 'lastDividendDate': 1708387200,
 'exchange': 'ASX',
 'quoteType': 'EQUITY',
 'symbol': 'CBA.AX',
 'underlyingSymbol': 'CBA.AX',
 'shortName': 'CWLTH BANK FPO',
 'longName': 'Commonwealth Bank of Australia',
 'firstTradeDateEpochUtc': 686188800,
 'timeZoneFullName': 'Australia/Sydney',
 'timeZoneShortName': 'AEDT',
 'uuid': 'e620b9ab-063f-32b1-9693-269e55eeae5f',
 'messageBoardId': 'finmb_874262',
 'gmtOffSetMilliseconds': 39600000,
 'currentPrice': 120.07,
 'targetHighPrice': 109.7,
 'targetLowPrice': 80.0,
 'targetMeanPrice': 92.2,
 'targetMedianPrice': 92.0,
 'recommendationMean': 4.1,
 'recommendationKey': 'underperform',
 'numberOfAnalystOpinions': 13,
 'totalCash': 132821000192,
 'totalCashPerShare': 79.38,
 'totalDebt': 311869014016,
 'totalRevenue': 26127998976,
 'revenuePerShare': 15.557,
 'returnOnAssets': 0.0078,
 'returnOnEquity': 0.13457,
 'operatingCashflow': -70738001920,
 'earningsGrowth': -0.048,
 'revenueGrowth': -0.022,
 'operatingMargins': 0.5672,
 'financialCurrency': 'AUD',
 'trailingPegRatio': None}

In [3]:
# Time logic block
# Select time input from webpage

time_period = ['d', 'mo', 'y']

In [6]:

# holidays and weekends aren't included in ticker price
shares = ticker_name.get_shares_full(start="2022-01-01", end=None)
history_start_end = ticker_name.history(start='2024-03-21', end='2024-03-28')
history_period = ticker_name.history(period='1mo')
print(history_start_end)

                                 Open        High         Low       Close  \
Date
2024-03-21 00:00:00+11:00  117.099998  118.050003  116.540001  118.000000
2024-03-22 00:00:00+11:00  118.300003  118.349998  116.559998  117.480003
2024-03-25 00:00:00+11:00  118.250000  118.989998  117.489998  118.790001
2024-03-26 00:00:00+11:00  118.900002  119.485001  118.570000  118.599998
2024-03-27 00:00:00+11:00  118.769997  120.190002  118.510002  120.000000

                            Volume  Dividends  Stock Splits
Date
2024-03-21 00:00:00+11:00  3579903        0.0           0.0
2024-03-22 00:00:00+11:00  3825604        0.0           0.0
2024-03-25 00:00:00+11:00  1974708        0.0           0.0
2024-03-26 00:00:00+11:00  1676353        0.0           0.0
2024-03-27 00:00:00+11:00  2340622        0.0           0.0

In [5]:
# Convert to json
ticker_info_df = pd.DataFrame(shares)
ticker_info_df

                                    0
2022-02-03 00:00:00+11:00  1730130048
2022-02-04 00:00:00+11:00  1706390016
2022-02-10 00:00:00+11:00  1706390016
2022-02-12 00:00:00+11:00  1704880000
2022-02-18 00:00:00+11:00  1723369984
...                               ...
2024-03-18 00:00:00+11:00  1673219968
2024-03-22 00:00:00+11:00  1673219968
2024-03-22 00:00:00+11:00  1680630016
2024-03-26 00:00:00+11:00  1673219968
2024-03-27 00:00:00+11:00  1673219968

[169 rows x 1 columns]